.radius:hover {
    border: 2px solid #0275d8;
    background-color: transparent !important;
    color: #1269DB;
    transform: rotate(360deg);
    cursor: pointer;
    box-shadow: none;
}

.login {
    margin-left: 38% !important;
}

.centerPass {
    margin-top: 3% !important;
    margin-bottom: -4% !important;
    position: relative !important;
    top: 50% !important;
    left: 50% !important;
    transform: translate(-50%,-50%);
}

@media screen and (min-width: 992px ) {
    .login {
        margin-left: 38% !important;
    }

    #hLogo {
        margin-left: -10px !important;
    }

    .center {
        margin-top: 1%;
        margin-bottom: -3%;
        position: relative;
        top: 50%;
        left: 90%;
        transform: translate(-50%,-50%);
    }

    .radius {
        width: 50px;
        height: 50px;
        border-radius: 50% !important;
    }

    .fa-download {
        font-size: 2em;
        margin-left: -12px;
    }

    .fa-check-square {
        font-size: 2em;
        margin-left: -12px;
    }

    .fa-at {
        font-size: 2em;
        margin-left: -12px;
    }

    .fa-paper-plane {
        font-size: 2em;
        margin-left: -13px;
    }

    .fa-save {
        font-size: 2em;
        margin-left: -11px;
    }

    .fa-search {
        font-size: 2em;
        margin-left: -11px;
    }

    .fa-file-excel {
        font-size: 2em;
        margin-left: -8px;
    }

    .fa-trash {
        font-size: 2em;
        margin-left: -11px;
    }

    .fa-reply {
        font-size: 2em;
        margin-left: -11px;
    }

    .check {
        margin-top: 4% !important;
        margin-bottom: -2% !important;
        position: relative !important;
        top: 50% !important;
        left: 12% !important;
        transform: translate(-50%,-50%);
    }
}

@media screen and (min-width:992px) and (max-width: 1250px) {
    #hLogo {
        margin-left: 5px !important;
    }

    .center {
        margin-top: 3% !important;
        margin-bottom: -4% !important;
        position: relative !important;
        top: 50% !important;
        left: 85% !important;
        transform: translate(-50%,-50%);
    }

    .radius {
        width: 50px;
        height: 50px;
        border-radius: 50% !important;
    }

    .fa-download {
        font-size: 2em;
        margin-left: -12px;
    }

    .fa-check-square {
        font-size: 2em;
        margin-left: -12px;
    }

    .fa-at {
        font-size: 2em;
        margin-left: -12px;
    }

    .fa-paper-plane {
        font-size: 2em;
        margin-left: -13px;
    }

    .fa-save {
        font-size: 2em;
        margin-left: -11px;
    }

    .fa-search {
        font-size: 2em;
        margin-left: -11px;
    }

    .fa-file-excel {
        font-size: 2em;
        margin-left: -8px;
    }

    .fa-trash {
        font-size: 2em;
        margin-left: -11px;
    }

    .fa-reply {
        font-size: 2em;
        margin-left: -11px;
    }

    .check {
        margin-top: 6% !important;
        margin-bottom: -2% !important;
        position: relative !important;
        top: 50% !important;
        left: 18% !important;
        transform: translate(-50%,-50%);
    }
}

@media screen and (min-width:768px) and (max-width: 991px) {
    #hLogo {
        margin-left: 5px !important;
    }

    .center {
        margin-top: 3% !important;
        margin-bottom: -4% !important;
        position: relative !important;
        top: 50% !important;
        left: 85% !important;
        transform: translate(-50%,-50%);
    }

    .radius {
        width: 50px;
        height: 50px;
        border-radius: 50% !important;
    }

    .fa-download {
        font-size: 2em;
        margin-left: -12px;
    }

    .fa-check-square {
        font-size: 2em;
        margin-left: -12px;
    }

    .fa-at {
        font-size: 2em;
        margin-left: -12px;
    }

    .fa-paper-plane {
        font-size: 2em;
        margin-left: -13px;
    }

    .fa-save {
        font-size: 2em;
        margin-left: -11px;
    }

    .fa-search {
        font-size: 2em;
        margin-left: -11px;
    }

    .fa-file-excel {
        font-size: 2em;
        margin-left: -8px;
    }

    .fa-trash {
        font-size: 2em;
        margin-left: -11px;
    }

    .fa-reply {
        font-size: 2em;
        margin-left: -11px;
    }

    .check {
        margin-top: 6% !important;
        margin-bottom: -2% !important;
        position: relative !important;
        top: 50% !important;
        left: 15% !important;
        transform: translate(-50%,-50%);
    }
}

@media screen and (min-width:320px) and (max-width: 767px) {
    #hLogo {
        margin-left: 5px !important;
    }

    .center {
        margin-top: 3% !important;
        margin-bottom: -4% !important;
        position: relative !important;
        top: 50% !important;
        left: 50% !important;
        transform: translate(-50%,-50%);
    }

    .radius {
        width: 50px;
        height: 50px;
        border-radius: 50% !important;
    }

    .fa-download {
        font-size: 2em;
        margin-left: -12px;
    }

    .fa-check-square {
        font-size: 2em;
        margin-left: -12px;
    }

    .fa-at {
        font-size: 2em;
        margin-left: -12px;
    }

    .fa-paper-plane {
        font-size: 2em;
        margin-left: -13px;
    }

    .fa-save {
        font-size: 2em;
        margin-left: -11px;
    }

    .fa-search {
        font-size: 2em;
        margin-left: -11px;
    }

    .fa-file-excel {
        font-size: 2em;
        margin-left: -8px;
    }

    .fa-trash {
        font-size: 2em;
        margin-left: -11px;
    }

    .fa-reply {
        font-size: 2em;
        margin-left: -11px;
    }

    .check {
        margin-top: 8% !important;
        margin-bottom: -2% !important;
        position: relative !important;
        top: 50% !important;
        left: 55% !important;
        transform: translate(-50%,-50%);
    }
}
